* {
    text-align: center;
	font-family: '黑体';
}

body {
	margin: 0 auto;
}

.titlenote {
	font-size: 1.2em;
}

#display {
    width: 300px;
    height: 80px;
    margin: 0 auto;
    padding: 0px;
}

#display > div {
	float: left;
	margin: 5px 10px;
}

#box2, #box4 {
	float: right;
	height: 20px;
	width: 50px;
	border: 1px solid gray;
}

#box3 {
	height: 20px;
	width: 138px;
	border: 1px solid gray;
}

#gamearea {
	height: 145px;
	width: 176px;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
	margin: 0 auto;
	padding-top: 5px;
}

#gamearea button {
	margin: 5px;
	height: 25px;
	width: 25px;
	outline: 0px solid #C8C8C8;
	float: left;
	background-color: #C8C8C8;
	color: red;
	font-weight: bold;
	font-size: 0.8em;
}

#note {
	width: 740px;
	margin: 0 auto;
}

.notetext {
	text-align: left;
}

.structions {
	font-weight: bold;
}